/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for database links and paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Centralizes URLs and local paths for all external resources used in the workflow.
    Update version numbers and base directories in one place for maintainability.
----------------------------------------------------------------------------------------
*/

params {

    // Colabfold
    colabfold_uniref30          = "${params.db}/colabfold_uniref30/"
    colabfold_envdb             = "${params.db}/colabfold_envdb/"

}
