/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wisps -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/conf/nci_gadi.config'

singularity.cacheDir = "/g/data/if89/singularity_cache/"
singularity.autoMounts = true
singularity.enabled = true
if (params.use_gpu) { singularity.runOptions = '--nv' }

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    outdir = "out-test"
    input  = "/g/data/ll61/development-space/nf-core-wisps/assets/samplesheet.csv"

    boltz2_aff  = "/g/data/li87/struct_bio/params/boltz/boltz2_aff.ckpt"
    boltz2_conf = "/g/data/li87/struct_bio/params/boltz/boltz2_conf.ckpt"
    boltz2_mols = "/g/data/li87/struct_bio/params/boltz/mols"

    uniref30 = "/g/data/li87/proteinfold_dbs/colabfold_uniref30/"
    colabfold_db = "/g/data/li87/proteinfold_dbs/colabfold_envdb/"

    colabfold_alphafold2_params = "/g/data/li87/struct_bio/params/alphafold2/"

    alphafold3_params = "/g/data/li87/struct_bio/params/alphafold2"

    use_gpu = true
    project = "ll61"
    use_dgxa100 = false

}

process {
    //executor = "local"
    storage = "gdata/li87+gdata/if89+scratch/${params.project}+gdata/${params.project}"

    withName: 'MMSEQS_COLABFOLDSEARCH' {
        memory = 350.GB
        time = 48.h
        cpus = 16
    }

    withName: 'RUN_BOLTZ' {
        if (params.use_dgxa100){
            queue = "dgxa100"
            cpus = 16
        }else{
            queue = "gpuvolta"
            cpus = 12
        }
        time = 48.h
        memory = 128.GB
        gpus = 1
    }

    withName: 'COLABFOLD_BATCH' {
        if (params.use_dgxa100){
            queue = "dgxa100"
            cpus = 16
        }else{
            queue = "gpuvolta"
            cpus = 12
        }
        time = 16.h
        memory = 128.GB

        gpus = 1
    }

    resourceLimits = [
        cpus: 1000,
        memory: '2000.GB',
        time: '48.h'
    ]

}
executor.pollInterval = '5 sec'
executor.queueStatInterval = '1 min'
executor.submitRateLimit = '20min'

gadi {
    format = 'csv'
    output = 'gadi_report.csv'
}

plugins {
    id 'nf-gadi@1.2.0'
}
