/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for database links and paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Centralizes URLs and local paths for all external resources used in the workflow.
    Update version numbers and base directories in one place for maintainability.
----------------------------------------------------------------------------------------
*/

params {

    // AlphaFold3
    alphafold3_params           = "${params.db}/params/af3.bin"

}
