/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for database links and paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Centralizes URLs and local paths for all external resources used in the workflow.
    Update version numbers and base directories in one place for maintainability.
----------------------------------------------------------------------------------------
*/

params {

    // Boltz-2
    boltz2_aff                  = "${params.db}/params/boltz2_aff.ckpt"
    boltz2_conf                 = "${params.db}/params/boltz2_conf.ckpt"
    boltz2_mols                 = "${params.db}/params/mols"

}
