/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
singularity.runOptions  = params.mmseqs_gpu ? '--nv' : ''
process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MMSEQS_COLABFOLDSEARCH' {
        memory = 300.GB
        time = 48.h
        def args = ""
        if (params.colabfold_search_args){
            ext.args = "${params.colabfold_search_args}"
        }else{
            if (params.mmseqs_gpu){
                args += "--gpu 1 "
            }

            if ("${params.tools}".split(",").contains("alphafold3")){
                args += "--af3-json "
            }

            if ("${params.tools}".split(",").contains("boltz")){
                args += "--boltz-yaml "
            }

            if (params.colabfold_uniref30_prefix){
                args += "--db1 ${params.colabfold_uniref30_prefix} "
            }
            if (params.colabfold_envdb_prefix){
                args += "--db3 ${params.colabfold_envdb_prefix} "
            }

            if (params.use_spire_db){
                args += "--use-env-pairing --db4 ${params.spire_db_prefix} "
            }

            ext.args = args
        }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'RUN_BOLTZ' {
        cpus = 16
        time = 48.h
        memory = 128.GB
        ext.args = "--write_full_pae --output_format mmcif"
    }

    withName: 'COLABFOLD_BATCH' {
        ext.args = "--calc-extra-ptm"
    }

    withName: 'IPSAE' {
        ext.args  = "${params.ipsae_pae_cutoff} ${params.ipsae_dist_cutoff}"
    }
}
