/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wisps -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/conf/nci_gadi.config'

singularity.cacheDir = "/g/data/if89/singularity_cache/"
singularity.autoMounts = true
singularity.enabled = true
if (params.use_gpu) { singularity.runOptions = '--nv' }

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    outdir = "out-test"
    input  = "/g/data/ll61/development-space/nf-core-wisps/assets/samplesheet.csv"
    samplesheet2 = "/g/data/ll61/development-space/nf-core-wisps/assets/samplesheet.csv"
    
    boltz_ccd = "/g/data/if89/proteinfold_dbs/boltz_dbs/ccd.pkl"
    boltz_model = "/g/data/if89/proteinfold_dbs/boltz_dbs/boltz1_conf.ckpt"
    colabfold_db = "/g/data/if89/proteinfold_dbs/miniature_databases/colabfold_envdb_202108/"
    uniref30 = "/g/data/if89/proteinfold_dbs/miniature_databases/uniref30_2302/"
    use_gpu = true
    project = "ll61"
    use_dgxa100 = false
}

process {
    //executor = "local"
    storage = "gdata/if89+scratch/${params.project}+gdata/${params.project}"

    withName: 'MMSEQS_COLABFOLDSEARCH' {
        memory = 300.GB 
        time = 16.h   
    }
    withName: 'RUN_BOLTZ' {
        cpus = 12
        queue = "gpuvolta"
        time = 10.h
        memory = 24.GB
        cpus = 12
        gpus = 1
    }
    resourceLimits = [
        cpus: 1,
        memory: '4.GB',
        time: '1.h'
    ]
    resourceLimits = [
        cpus: 1000,
        memory: '2000.GB',
        time: '24.h'
    ]

}

