/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wisps -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
singularity.cacheDir = "/g/data/if89/singularity_cache/"
singularity.autoMounts = true
singularity.enabled = true
if (params.use_gpu) { singularity.runOptions = '--nv' }

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    outdir = "out-test"
    input  = "/g/data/ll61/development-space/nf-core-wisps/assets/samplesheet.csv"

    boltz_ccd = "/g/data/if89/proteinfold_dbs/boltz_dbs/ccd.pkl"
    boltz_model = "/g/data/if89/proteinfold_dbs/boltz_dbs/boltz1_conf.ckpt"
    boltz2_aff = "/g/data/if89/proteinfold_dbs/boltz_dbs/boltz2_aff.ckpt"
    boltz2_conf = "/g/data/if89/proteinfold_dbs/boltz_dbs/boltz2_conf.ckpt"
    boltz2_mols = "/g/data/if89/proteinfold_dbs/boltz_dbs/mols"
    colabfold_db = "/g/data/if89/proteinfold_dbs/miniature_databases/colabfold_envdb_202108/"
    uniref30 = "/g/data/za08/tom/colabfold_uniref30"
    colabfold_alphafold2_params = "/g/data/if89/proteinfold_dbs/colabfold_dbs/params/alphafold_params_colab_2022-12-06/"

    alphafold3_params = "/g/data/if89/proteinfold_dbs/colabfold_dbs/params"

    use_gpu = true
    project = "ll61"
    use_dgxa100 = false

    colabfold_search_args = " --use-env 0  --af3-json --db1 colabfold_uniref30/uniref30_2302_db --db3 colabfold_envdb_202108/colabfold_envdb_202108_db"
}

process {
    executor = "pbspro"
    executor = "local"
    storage = "gdata/za08+gdata/if89+scratch/${params.project}+gdata/${params.project}"
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    queue = { task.memory < 128.GB ? 'normalbw' : (task.memory >= 128.GB && task.memory <= 190.GB ? 'normal' : (task.memory > 190.GB && task.memory <= 1020.GB ? 'hugemembw' : '')) }

    withName: 'RUN_BOLTZ' {
        cpus = 12
        queue = "gpuvolta"
        time = 10.h
        memory = 24.GB
        cpus = 12
        gpus = 1
    }
    withName: 'MMSEQS_COLABFOLDSEARCH' {
        time = 1.h
        if (params.mmseqs_gpu){
            queue = "dgxa100"
            memory = 24.GB
            cpus = 16
            gpus = 1
        }
    }

    withName: 'COLABFOLD_BATCH' {
        queue = "gpuvolta"
        time = 10.h
        memory = 64.GB
        cpus = 12
        gpus = 1
    }

    resourceLimits = [
        cpus: 1,
        memory: '4.GB',
        time: '1.h'
    ]
    resourceLimits1 = [
        cpus: 1000,
        memory: '2000.GB',
        time: '24.h'
    ]
    resourceLimits1 = [
        cpus: 16,
        memory: '24.GB',
        time: '3.h'
    ]

}
